<textarea onclick="this.focus();this.select()" style="width: 100%;"> {% filter force_escape %} {% debug %} {% endfilter %}</textarea>

<h1>Post Model</h1>
{% if tasks %}
<table>
    {% for task in tasks %}
    <tr>
        <td><a href="post_detail/{{task.id}}">View Detail</a></td>
        <td>{{ task.title}}</td>
        <td>{{ task.body}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/onemodel/add/">Click Here to add one!</a>
{% else %}
<p>No Posts have been made yet! <a href="/onemodel/add/">Click Here to add one!</a> </p>
{% endif %}